* {
    font-family: 'Caveat';
    font-size:large;
    font-weight: 700;

}
body {
    background-image: url(/assets/fondo\ 1.jpg);
    font-family: 'Caveat';
}

.logo {
    width: 30em;
    margin-left: 2em;
    margin-top: 2em;
    
}

textarea{
    margin: auto;
    height: 4em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
    -moz-box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
    box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
}
input {
    margin: auto;
    height: 2em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
    -moz-box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
    box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
}

.task {
    width: 15em;
    margin-bottom: 1em;
}

.description {
    width: 15em;
    margin-bottom: 1em;
}

.addTask {
    display: flex;
    flex-direction: column;
    width: 15em;
    margin: auto;
}


.btn-12{
    margin-bottom: 2em;
    margin: auto;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }


 /* Estilos para los botones Editar y Eliminar */
.edit-btn{
  padding: 5px 10px;
  background-color: #077b83;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

/* Estilos cuando el cursor está sobre los botones */
.edit-btn:hover {
  background-color: #093c49;
}

/* Estilos para los botones Editar y Eliminar */
.delete-btn {
  padding: 5px 10px;
  background-color: #9e4040;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

/* Estilos cuando el cursor está sobre los botones */
.delete-btn:hover {
  background-color: #470707;
}

.complete-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
  appearance: none;
  border: 2px solid #888;
  background-position: 0 -2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.complete-checkbox:checked {
  background-color: rgb(75, 156, 13);
  color: rgb(75, 156, 13);
  background-position: 0 0;
} 

#taskList {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}

#taskList li {
  width: 15em;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  -webkit-box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
  -moz-box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
  box-shadow: 0px 17px 24px -10px rgba(103,136,235,1);
}

.btns {
  display: flex;
  flex-direction: row;
}

.btn {
  text-align: center;
  margin: auto;
  width: 4em;
}